/* I somehow disconnected this shows.css file from the rest of my code. Changes here don't do anything. I think it's because I created a NavBar.jsx component in the src folder. */
/* .shows {
  display: flex;
}

.show {
  padding: 0 1ch;
}

.show:not(:last-child) {
  border-right: 1px solid white;
}

.show:hover,
.show.selected {
  cursor: pointer;
}

.show-details {
  display: grid;
  gap: 1rem;
} */
