.episodes ol {
  list-style: none;
  min-width: 15rem;
}

.episodes li {
  padding: 0.5rem;
}

.episodes li:hover,
.episodes li.selected {
  background: purple;
  cursor: pointer;
}

.episodes li:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.episode-details {
  display: flex;
  flex-direction: column;
  gap: 0.5ch;
  padding-left: 2rem;
}
